html {
    font-family: system-ui;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    @apply rounded-lg;
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
  }
  
.column {
   float: left;
}
  
.left {
    width: 30%;
}
  
.right {
    width: 70%;
}