---
import { Icon } from 'astro-iconify'
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getEntry } from 'astro:content';

const entry = await getEntry("name", "name");
const { Content } = await entry.render();
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-xl mx-auto px-10 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-100">
    <Header />
    <main class="flex flex-col justify-center">
         <div class="flex flex-col">
            <p class="text-justify text-base md:text-lg font-semibold my-4">Name</p>
            <p class="leading-8">
                <Content />
            </p>
        </div>
	</main>
    <Footer entry={entry} />
  </body>
</html>