---
import ThemeIcon from "./ThemeIcon.astro";
const today = new Date();
---

<footer class="my-5 md:my-8">
	<div class="flex border-b my-2 md:my-5"></div>
	
	<ul class="flex-col">
		<ThemeIcon class="flex" />
	<ul/>

    <div style="display: flex; justify-content: flex-end">
    <p class="text-sm font-medium">
    Last update: {today.getUTCMonth()+1}/{today.getFullYear()}
    </p>
    </div>
</footer>