---
import ThemeIcon from "./ThemeIcon.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import type { Render } from "astro:content";

dayjs.extend(utc);
dayjs.extend(timezone);

interface Props {
    entry?: { render(): Render[".md"] }
}
let lastModified;
const { entry } = Astro.props;
if (entry) {
    const { remarkPluginFrontmatter } = await entry.render();
    lastModified = dayjs(remarkPluginFrontmatter.lastModified)
        .utc()
        .tz("Asia/Hong_Kong")
        .format("HH:mm:ss, DD MMMM YYYY");
}
---

<footer class="my-5 md:my-8 h-10">
	<div class="flex border-b my-2 md:my-5"></div>
	
	<ul class="flex-col">
		<ThemeIcon class="flex" />
	<ul/>

    <div style="display: flex; justify-content: flex-end">
    <p class="text-sm font-medium">
    {lastModified && `Last update: ${lastModified}`}
    </p>
    </div>
</footer>