---
import { Icon } from 'astro-iconify'
const props = Astro.props
---

<style>
  .pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    /* outline-color: deeppink; */
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .front {
    display: block;
    position: absolute;
    border-radius: 8px;
    padding: 8px 12px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
  }

  .pushable:active .front {
    transition: transform 5ms;
  }

</style>

<button class={"switch-theme-button pushable " + props.class }>
  <span class="front">
    <Icon name="radix-icons:moon" class="w-4 h-4 flex dark:hidden" color=black />
    <Icon name="radix-icons:sun" class="w-4 h-4 dark:flex hidden" />
  </span>
</button>

<script >
  // document.addEventListener('astro:page-load', () => {
    const buttons = document.querySelectorAll('.switch-theme-button'); 
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      if (localStorage.theme === 'dark') {
        localStorage.theme = 'light';
        document.documentElement.classList.remove('dark');
      } else {
        localStorage.theme = 'dark';
        document.documentElement.classList.add('dark');
      }
    })
  });
// });
  
</script>